 # `Python`: Start Here
 ## syntax, semantics, & sequential execution
 
 <img src="pythonLogo.png" height="20%" width="20%"/>

## Using programming languages requires knowledge of the

###  
 - "spelling" & "vocabulary" of a language
 - reserved words, built in functions, primitive constructs (types) relating to values of data
 
### syntax
 - "sentence structure"
 - valid ways to use values & variables in expressions & commands

### logic (static semantics)
 - "paragraph structure"
 
### semantics.
 - "meaning" behind the "paragraphs"
 - intended function & value output of program

<br/>

## Four primitive constructs of programming

### sequential execution 
 - statements are executed in sequence
 - one after another as they are encountered
 
### conditional execution
 - flow of control using conditional logic
 - based on conditions
 - execute or skip instructions
 
### repeated execution
 - perform compound statement (code block) multiple times
 - updating variables with each iteration
 
### reusable - functions
- give a name to reusable compound statement (code block)
- invoke that set of statements as many times as needed with name of function
<br/>

## Four debugging methods

### reading
 - read the code for errors line by line
 - building the understanding of the sequence of statements
 
### running
 - run program, make changes, & run again
 - as statements are edited; the problem may present itself
 
### rumminating
 - think about the syntax of the statements
 - the input & output to the program
 - error messages
 - what kind of problem:
   - syntax
   - runtime
   - semantic
 
### retreating
- revert to a place before changes introduced problems
- take a break
- begin where the program is easy to understand & move foward

<br/>

# Values, Variables, & Expressions

## Values
- are the basic forms of data
- represented as literals or constants

In [1]:
# Character or Sequence of Characters - (Sentences/Alpha-numeric groups of characters)

In [6]:
'a'

'a'

In [7]:
'word'

'word'

In [8]:
'This is a sentence.'

'This is a sentence.'

In [ ]:
# Number Values (Constants)

In [9]:
42

42

In [10]:
3.14

3.14

## Types
groups these basic forms of data belong to

- Strings
- Integers
- Floating point numbers
- Boolean

### type() - function
returns the type of a value

In [3]:
type(42)

int

In [11]:
print(type('onomatopoeia'))

<class 'str'>

### Strings
Sequence of characters

In [6]:
'A'                     # A string character

str

In [12]:
'Word'                  # A string word

'Word'

In [8]:
'This is a sentence'    # A string sentence

"This is still a string"

'This is still a string'

In [15]:
'R2D2'                  # A string alphanumeric combination

'R2D2'

In [7]:
type('A')

str

### Integers
Represent
- Natural numbers  ("Counting numbers": 1,2,3,4,5 ...)
- Whole numbers    (0, & the natural numbers)
- Integers         (0, positive natural numbers & thier corresponding negative numbers)

In [16]:
42

42

In [1]:
0

0

In [2]:
-100

-100

### Floating point numbers
Represent

- Fractional numbers (rational numbers, irrational numbers, real numbers)
- can represent integers also (as floating point numbers)

In [19]:
3.14

3.14

In [20]:
2.0

2.0

### Boolean
Represent truth values
- True
- False

In [ ]:
True

In [ ]:
False

## Variables
- names bound to location in memory of literals or constants (fundamental representations of data)
- variables are symbols & their data are symbolized

In [ ]:
x = 42

In [ ]:
approximationOfPI = 3.14

In [ ]:
name = 'Alexander'

## Operands
- Values
<br/> &
- Variables

In [ ]:
# values - literals or constants (fundamental representations of data)

In [ ]:
42

In [ ]:
3.14

In [ ]:
# variables - names bound to location in memory of literals or constants

In [ ]:
x = 42

In [ ]:
studentID = 54226312

In [ ]:
name = Alexander

### print() - function
- prints values inside as 'strings'
- each print() statement begins on a newline

In [20]:
print('string literal')

string literal

In [22]:
# each print() statement begins a new line

print('To be')
print('or not to be')

To be
or not to be

In [24]:
print(2.718)

2.718

In [23]:
# a print() statement has type: None

type(print(42))

42

NoneType

### print() - vs. interactive input

##### print()
- print() displays a 'string' output to the screen

In [52]:
print(42)

42

##### Out[ ] - interactive output
- entering values or variables will not manipulate the program
- in interactive mode the last value or variable in sequence will be displayed as output

In [53]:
42

42

In [54]:
2.718

42

PI = 3.14

PI * 42

newtonsThirdLaw = "Every action (force) has an equal and opposite reaction."

newtonsThirdLaw

'Every action (force) has an equal and opposite reaction.'

In [56]:
# literals and variables will not be output if any print() statement follows 

newtonsThirdLaw

print('A string output to the screen')

A string output to the screen

## Operators
- symbols that represent computations
- used in combination with values & variables yield a new value

#### Assignment Operator =
- assign values to variables

In [12]:
variableA = 3.14

In [ ]:
nameOfStudent = 'Alex'

In [13]:
newtonsFirstLaw = 'Every object will remain at rest or in uniform motion unless acted on by a net force.'

## String Operators
- manipulate strings

### concatenation operator +

In [16]:
# Concatenation operator +
# will produce a combination of 'strings' exactly as they are inside ''

'Alex' + 'ander'

'Alexander'

In [27]:
# ' ' space is added inside the 'string ' + 'literals' --> 'string literals'
# - between + concatenation operators

newtonsSecondLaw = 'Force' + ' = ' + 'mass * ' + 'acceleration'

print(newtonsSecondLaw)

Force = mass * acceleration

In [28]:
alphaNumeric = 'R' + '2' + 'D2'

print(alphaNumeric)

R2D2

### 'strings' must be combined with 'string's
- can not be combined with numbers or other types

In [37]:
# TypeError: unsupported operand type(s) for +: 'int' and 'str'

# 42 + 'string'

In [36]:
# TypeError: unsupported operand type(s) for +: 'float' and 'str'

# 2.718 + 'string'

In [35]:
# TypeError: unsupported operand type(s) for +: 'bool' and 'str'

# True + 'string'

### replication operator *

In [57]:
# Replication operator +
# will replicate 'string' * [N] times

'echo' * 6

'echoechoechoechoechoecho'

In [58]:
36 * 'hello'

'hellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohello'

#### replication operator * - integer argument
- must take [int] as argument
- can not take a [float]

In [50]:
# TypeError: can't multiply sequence by non-int of type 'float'

# 2.718 * 'echo'

#### replication operator * - precedence
- follows order of operations
- does not work on multiple concatenation of 'string's
- only next in order of operations

In [42]:
'Alexande' + 'r' * 42

'Alexanderrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr'

In [45]:
2 * 'Alexande' + 'r'

'AlexandeAlexander'

#### Mathematical operators & 'strings'
- only mathematical operator that works with 'string'
- only expression where a number (integer or float) works with 'string'

In [65]:
# ***DOES NOT WORK***

integerOrFloat = 42.00

#integerOrFloat ** 'str'        # TypeError: unsupported operand type(s) for ** or pow(): 'float' and 'str'

#integerOrFloat +  'str'        # TypeError: unsupported operand type(s) for +: 'float' and 'str'

#integerOrFloat /  'str'        # TypeError: unsupported operand type(s) for /: 'float' and 'str'

#integerOrFloat // 'str'        # TypeError: unsupported operand type(s) for //: 'float' and 'str'

#integerOrFloat %  'str'        # TypeError: unsupported operand type(s) for %: 'float' and 'str'

#integerOrFloat +  'str'        # TypeError: unsupported operand type(s) for +: 'float' and 'str'

#integerOrFloat -  'str'        # TypeError: unsupported operand type(s) for -: 'float' and 'str'

## Mathematical Operators
- perform arithmetic computations

## Operator Precedence
- (P)arenthesis
- (E)xponents
- (M)ultiplication
- (A)ddition
- (S)ubtraction

In [ ]:
# ()
# **
# *
# /
# +
# -

# //
# %

In [ ]:
# Parenthesis             ()

In [ ]:
# Exponentiation          **

In [ ]:
# Multiplication          *

In [ ]:
# Division                /

In [ ]:
# Addition                +

In [ ]:
# Subtraction             -

## Values produced are 
- integers 
- unless combined with floating point numbers

In [67]:
x = 3
y = 6

In [70]:
# Parenthesis             ()

(x ** x) + y              # (3)^3 + 6
                          #   27  + 6 = 33

33

In [71]:
# Exponentiation          **

x ** y

729

In [72]:
# Multiplication          *

x * y

18

In [73]:
# Addition                +

x + y

9

In [74]:
# Subtraction             -

x - y

-3

#### floored division truncates value
- converts to integer
- removes the remainer after the decimal place

In [77]:
# Floored Division        //

4 // 3

1

In [78]:
4/3

1.3333333333333333

#### if there is only a decimal remainder
- value becomes 0

In [79]:
# 3/4 produces only a decimal remainder
# floored division retians 0 as the value

3//4

0

In [82]:
# 3/4 produces only a decimal remainder

3/4

0.75

## Values produced are 
- floating point numbers

### division automatically produces a floating point number
- to represent rational numbers

In [75]:
# Division                /

x / y

0.5

In [83]:
4/2

2.0

#### modulus % division
- returns the value of the remainder
- after divisor is evenly divided into divisor

In [87]:
# Modulus Division        %
# dividend - 6
# divisor  - 3

# 6/3 = 2.0
# remainder is 0

6 % 3

0

In [91]:
# Modulus Division        %
# dividend - 20
# divisor  - 3

# 3*6 = 18 - [20 -18 = 2]
# remainder is 2

20 % 3

2

### modulus % - can be used to remove base ten places before decimal

In [97]:
# Modulus Division        %
# dividend - 24.4346356
# divisor  - 1

# 24.4346356 / 1 = 24 - [24.4346356 - 24 = 0.4346356]
# remainder is [0.4346356]


24.4346356 % 1

0.4346356

In [98]:
# Modulus Division        %
# dividend - 24.4346356
# divisor  - 10

# 24.4346356 / 10 = 2 - [24.4346356 - 20 = 4.4346356]
# remainder is [4.4346356]


24.4346356 % 10

4.4346356

## Expressions
any combination of:
- Values
- Variables
- Operators

### assignment expression =

In [117]:
PI = 3.14

print(PI)

3.14

### string concatenation expression +

In [118]:
lyricLine = 'Words' + ' to the ' + 'song'

print(lyricLine)

Words to the song

### mathematical expression *

In [119]:
answer = 32 * 55

print(answer)

1760