# `Python`
## Tuples
 
 <img src="pythonLogo.png" height="20%" width="20%"/>

### tuples are a type of `data-structure`
#### `collections`
- `multi-value` variables that can `hold more` than a `single value`

###  stores data as a `sequence` of `values` (`types/objects`)

## `like` lists()

- ### tuples are organized by `index` based on thier `positions` 

- ### tuples `indices` are `integers`

- ### can be ANY `type`

## `unlike` lists()
- ### tuples are `immutable`

# `initialising` empty tuples

# ( )

In [2]:
# an empty tuple literal

( )

()

In [12]:
newTupleLiteral = ()

print(())
print(newTupleLiteral)
print(type(newTupleLiteral))

()
()
<class 'tuple'>

# `tuple()`
- ### use the function `tuple()`

In [1]:
# an empty tuple instantiation

tuple()

()

In [2]:
emptyTuple = tuple()

print(tuple())
print(emptyTuple)
print(type(emptyTuple))

()
()
<class 'tuple'>

# tuple `literals` are `comma-seperated` sequence of values

In [9]:
tupleLiteral = 3.14,42,'R2D2','C3P0'

print(tupleLiteral)
print(type(tupleLiteral))

(3.14, 42, 'R2D2', 'C3P0')
<class 'tuple'>

# tuple `literals` are `enclosed` inside `( )` parenthesis
- for `distinction` amongst other data-structures

In [8]:
tupleLiteral = (3.14,42,'R2D2','C3P0')

print(tupleLiteral)
print(type(tupleLiteral))

(3.14, 42, 'R2D2', 'C3P0')
<class 'tuple'>

# `tuples` can either be instantiated by

### `values` enclosed within `( ) parenthesis` - tuple `literal` (`constant`)

<br/>
or
<br/>

### `( VALUE , )` - a value with `final comma` for distinction from 'string expression'

<br/>
or
<br/>

### `tuple( ( ) )` instantiates a `literal` within `tuple()`

<br/>
<br/>

# `values` enclosed within `( ) parenthesis`
tuple `literal` (`constant`)

In [11]:
tupleLiteral = (1,'two',3.14,True)

In [12]:
print(tupleLiteral)

(1, 'two', 3.14, True)

# `( VALUE , )` 
a value with `final comma` for distinction from 'string expression'

to instantiate a tuple with 1 element
- final comma must be included

In [26]:
singleElementTuple = (1,)


type(singleElementTuple)

{'vessel': 'uscgc venturous'}

### without the `final comma` ,
- Python treats the values inside `( )` as an expression
as a 'string'

In [19]:
singleElementTuple = ('one')


type(singleElementTuple)

str

In [20]:
singleElementTuple = (1)


type(singleElementTuple)

int

# `tuple( ( ) )` 
instantiates a `literal` within `tuple()`

In [7]:
tupleA = (1,2,3,4)

print(tupleA)

tupleB = tuple(tupleA)

print(tupleB)

(1, 2, 3, 4)
(1, 2, 3, 4)

## `sequence` (string, list, or tuple)  as argument to `tuple( )

#### if argument to tuple() is a sequence

- result is a tuple with elements of `sequence as elements` of `tuple()`

## `tuple('string')`

In [14]:
stringA = 'onomatopoea'

tupleA = tuple(stringA)

print(tupleA)
print(type(tupleA))

('o', 'n', 'o', 'm', 'a', 't', 'o', 'p', 'o', 'e', 'a')
<class 'tuple'>

## `tuple( [L,i,s,t] )`

In [15]:
listA = [1,2,3,4]

tupleA = tuple(listA)

print(tupleA)
print(type(tupleA))

(1, 2, 3, 4)
<class 'tuple'>

## `tuple( {'alpha': 'd', 'beta': 'i', 'gamma': 'C', 'delta' : 't'} )`

### using `tuple()` with a `dict()` argument
only returns the `keys()` as tuple elements

In [17]:
dictA = {'alpha': 'd', 'beta': 'i', 'gamma': 'C', 'delta' : 't'}

tupleA = tuple(dictA)

print(tupleA)
print(type(tupleA))

('alpha', 'beta', 'gamma', 'delta')
<class 'tuple'>

# accessing `tuples[indices]`

## `tuples` elements `can only be accessed` AFTER CREATION
 in contrast to `list`,`dict`

#### CAN NOT be `assigned new values`
#### CAN BE used on `EXISTING key-value pair`

In [22]:
 # TypeError: 'tuple' object does not support item assignment

tupleA = (1,'two',3.14,True)

#tupleA[0] = 2

# most list operators work on tuples()

# `[ ]` bracket operator

In [38]:
tupleExample = (2.718,3.14,36,42)

print(tupleExample[0])

2.718

# `[ : ]` slice (subset) operator

In [ ]:
tupleExample = (2.718,3.14,36,42)

print(tupleExample[0:3])

## key must be valid or error will be produced

In [24]:
tupleA = (1,'two',3.14,True)

In [31]:
print(tupleA[3])

True

In [33]:
# IndexError: tuple index out of range

# print(tupleA[4])

# `order` of list `values` is in index order

In [37]:
wmec625 = ('uscgc venturous','reliance class','medium endurance cutter',
'tonnage 210', 'hull number 625')


print(wmec625[0])
print(wmec625[1])
print(wmec625[-1])

uscgc venturous
reliance class
hull number 625

# 1 tuple() can be replaced with another
- like 'string's can return `current string` concatenate with another tuple
- assignment to new tuple() or reassignment to current tuple name

In [68]:
tupleExample = ('one','two','three',4,5,6)

In [69]:
tupleExample = ('**ITEM ADDED**',) + tupleExample

print(tupleExample)

('**ITEM ADDED**', 'one', 'two', 'three', 4, 5, 6)

In [70]:
tupleExample = ('**ITEM ADDED**',) + tupleExample[0:2]

print(tupleExample)

('**ITEM ADDED**', '**ITEM ADDED**', 'one')

In [71]:
tupleExample = ('one','two','three',4,5,6)

In [72]:


newTuple = tupleExample + ('**added-seven**',)

print(newTuple)

('one', 'two', 'three', 4, 5, 6, '**added-seven**')

In [73]:


newTuple = tupleExample[0:3] + ('**four-added**','**five-added**')

print(newTuple)

('one', 'two', 'three', '**four-added**', '**five-added**')

In [74]:
#################################################################

## `values` can be `different types`

## `(objects)` & `other collections` 

### (lists,dictionaries,tuples,etc.)

In [107]:
wmexHull = ['WMEC-615','WMEC-616','WMEC-617','WMEC-618','WMEC-619','WMEC-620','WMEC-621','WMEC-622','WMEC-623','WMEC-624',
'WMEC-625','WMEC-626','WMEC-627','WMEC-628','WMEC-629','WMEC-630']


wmecClass = ['Reliance','Diligence','Vigilant','Active','Confidence','Resolute','Valiant','Courageous','Steadfast','Dauntless',
'Venturous','Dependable','Vigorous','Durable','Decisive','Alert']

cutter = {'vessel':'uscgc venturous','class':wmecClass,'type':'medium endurance cutter',
'tonnage':210, 'hull number':625,'underway':True}


print(cutter)
print()

print(type(cutter['class']))
print(cutter['class'])

{'vessel': 'uscgc venturous', 'class': ['Reliance', 'Diligence', 'Vigilant', 'Active', 'Confidence', 'Resolute', 'Valiant', 'Courageous', 'Steadfast', 'Dauntless', 'Venturous', 'Dependable', 'Vigorous', 'Durable', 'Decisive', 'Alert'], 'type': 'medium endurance cutter', 'tonnage': 210, 'hull number': 625, 'underway': True}

<class 'list'>
['Reliance', 'Diligence', 'Vigilant', 'Active', 'Confidence', 'Resolute', 'Valiant', 'Courageous', 'Steadfast', 'Dauntless', 'Venturous', 'Dependable', 'Vigorous', 'Durable', 'Decisive', 'Alert']

# update expression

### `dictionary.update(KEY:VALUE)`
- EXISTING key-value pairs updated
- NEW key-value pair added

In [113]:
dictionaryA = {'vessel name':'venturous','underway':True,'tonnage':210}
print(dictionaryA)

{'vessel name': 'venturous', 'underway': True, 'tonnage': 210}

In [119]:
dictionaryA.update({'vessel name': '**UPDATED VALUE**', 'underway': True, 'tonnage': 210})
print(dictionaryA)

{'vessel name': '**UPDATED VALUE**', 'underway': True, 'tonnage': 210}

In [120]:
dictionaryA.update({'**UPDATED KEY**':'**UPDATED VALUE'})
print(dictionaryA)

{'vessel name': '**UPDATED VALUE**', 'underway': True, 'tonnage': 210, '**UPDATED KEY**': '**UPDATED VALUE'}

# `len()`
#### returns number of key-value pairs

In [103]:
len(cutter)

6

## python does not automatically `iterate` through the `values` of a dict()
### unlike a list()
## a `for loop iterator` will return the `keys`

In [109]:
for iterator in cutter:
    print(iterator)

vessel
class
type
tonnage
hull number
underway

# `list(dictionary.keys())`
returns a type: `dict_keys` 
must be converted to `list()` with `list()`to be searched

In [27]:
print(type(cutter.keys()))

<class 'dict_keys'>

In [28]:
listCutterKeys = list(cutter.keys())

for keys in listCutterKeys:
    print(keys)

vessel
class
type
tonnage
hull number
underway

In [29]:
print(type(listCutterKeys))

<class 'list'>

# for `iterator`,`iterator` in list()
## `2 iterators` to loop through `tuple values`
### definite for loop

In [39]:
for key,value in cutter.items():
    print('key:',key,'\nvalue:',value,'\n')

key: vessel
value: uscgc venturous

key: class
value: ['Reliance', 'Diligence', 'Vigilant', 'Active', 'Confidence', 'Resolute', 'Valiant', 'Courageous', 'Steadfast', 'Dauntless', 'Venturous', 'Dependable', 'Vigorous', 'Durable', 'Decisive', 'Alert']

key: type
value: medium endurance cutter

key: tonnage
value: 210

key: hull number
value: 625

key: underway
value: True

# print(`item[INDEX]`)
# print(`item[INDEX]`)

### dictionary `key-value`s returned as `tuple`
### `access elements` of `tuple` by `index` in list

In [3]:
for item in cutter.items():
    print(item[0])
    print(item[1])
    print()

vessel
uscgc venturous

class
reliance

type
medium endurance cutter

tonnage
210

hull number
625

underway
True

# `in` operator
#### returns `boolean`
#### returns `True` if `operand is a KEY` in dictionary
#### returns `False` if `otherwise`

In [42]:
print(cutter)

{'vessel': 'uscgc venturous', 'class': ['Reliance', 'Diligence', 'Vigilant', 'Active', 'Confidence', 'Resolute', 'Valiant', 'Courageous', 'Steadfast', 'Dauntless', 'Venturous', 'Dependable', 'Vigorous', 'Durable', 'Decisive', 'Alert'], 'type': 'medium endurance cutter', 'tonnage': 210, 'hull number': 625, 'underway': True}

In [104]:
'vessel' in cutter

True

In [105]:
'years active' in cutter

False

In [43]:
'uscgc venturous' in cutter

False