# `Python`
## Reusable functions
 <img src="pythonLogo.png" height="20%" width="20%"/>

# function definition
#### header includes
- `def`
- function name
- input parameters
- colon :

#### body of compound statement 
- executed when function name is `invoked`
- `arguments` are passed to body of code block using `parameters`

#### `store` and `reuse` pattern of execution

# Function
named sequence of instructions that perform computation

Functions are `called` or `invoked`

### Function Object
a `value` created by a `function definition`

the `name of a function` is the `variable` that refers to the `function object`

# function invocation
"calling" a function

#### invoke by name
- `functionName()` or `moduleObject.method()`

#### pass arguments
- takes `input(argument)`
- can have `default parameters`
- does not always require argument `functionName()`

#### return output or execute command
- `returns output` or `executes command`

- does not always have argument for input

# `built in` functions
#### invoked by name()

## print() - function
- prints values inside as 'strings'
- each print() statement begins on a newline

In [6]:
print('string literal')

string literal

In [5]:
# print() function - with no argument 

print()                               # prints [\n] newline to display

In [22]:
# each print() statement begins a new line

print('To be')
print('or not to be')

To be
or not to be

In [24]:
print(2.718)

2.718

In [5]:
newtonsFirstLaw = 'Every object will remain at rest or in uniform motion unless acted on by a net force.'

print(newtonsFirstLaw)

Every object will remain at rest or in uniform motion unless acted on by a net force.

In [23]:
# a print() statement has type: None

type(print(42))

42

NoneType

## print() formatting

### print() - vs. interactive input

##### print()
- print() displays a 'string' output to the screen

In [52]:
print(42)

42

##### Out[ ] - interactive output
- entering values or variables will not manipulate the program
- in interactive mode the last value or variable in sequence will be displayed as output

In [53]:
42

42

In [4]:
2.718

42

PI = 3.14

PI * 42

newtonsThirdLaw = "Every action (force) has an equal and opposite reaction."

newtonsThirdLaw

'Every action (force) has an equal and opposite reaction.'

In [56]:
# literals and variables will not be output if any print() statement follows 

newtonsThirdLaw

print('A string output to the screen')

A string output to the screen

## print(VALUE,VALUE,VALUE) - multiple values
- print() can take multiple arguments
- comma , separated values
- output is separated by ' ' space
- can combine different type() - unlike 1 argument print() - must be a 'string'

In [8]:
print(42,3.14,'Thiry six')

42 3.14 Thiry six

In [12]:
stringA = 'This is a sentence'
stringB = '3.14'
integerA = 42

print(stringA,stringB,integerA,'**This is'+' also a sentence with a number: ' + str(42) + '**')

This is a sentence 3.14 42 **This is also a sentence with a number: 42**

## escape characters \ character

### \n - newline character
- passed as a 'string'
- creates a new line
- counts as 1 character

In [21]:
# space before \n - does not effect the new line
# \n space after - effects the new line

print('This is a line.     \nThis is a new line')

print()

print('This is a line.     \n This is a new line')

This is a line.
This is a new line

This is a line.
 This is a new line

In [14]:
# \n - newline character
# print(argument, argument, argument) - multiple arguments
# - still separated by ' ' space 


print('This is a line','\n this is a new line','\n this is another line')

This is a line
 this is a new line
 this is another line

## print(argument, end = 'string') - end argument
- 'string' passed to end = 'string' function
- 'string' passed is deliminator - seperator between arguments

In [28]:
# two print() statements
# first statement is directed to use ' ' space as diliminator
# no \n is automatically printed

print('This is a line',end = ' ')
print('This is a new line')

This is a line This is a new line

In [22]:
print('1','\n2','\n3',end='')

1
2
3

## input() - function
- takes a 'string' argument
- displays a 'string' prompt
- program waits for input
- returns 'string' as input

In [3]:
# input() - takes a 'string' as an argument

input('Enter something: ')                    # value - returns a 'string'

Enter something: Alex

'Alex'

In [5]:
# input can be passed directly as an argument

print(input('Enter something: '))

Enter something: Alex
Alex

In [6]:
# input() - can be assigned to a variable

alphaNumericInput = input('Enter an alphanumeric combination: ')


print(alphaNumericInput)

Enter an alphanumeric combination: Alex@35235
Alex@35235

In [1]:
# input() - can be assigned to a variable

alphaNumericInput = input('Enter an alphanumeric combination: ')


print('Identification number:',alphaNumericInput)

Enter an alphanumeric combination: 2863dferg
Identification number: 2863dferg

In [7]:
# input() - argument can be passed a 'string' variable
# input() - can be assigned to a variable

inputMessage = 'Enter an alphanumeric combination: '

alphaNumericInput = input(inputMessage)


print(alphaNumericInput)

Enter an alphanumeric combination: Alex23425
Alex23425

## # comments
- # followed by any characters
- not interpreted and left as comment

In [50]:
# comments can have thier own line

print('This script has comments')        # can follow a line


# print('This statement is visible')     # can be used to 'comment' out code - so it is not executed

This script has comments

## type() - function
returns the type of a value

In [25]:
type('string of words')

str

In [3]:
type(42)

int

In [26]:
type(3.14)

float

In [27]:
print(type('onomatopoeia'))

<class 'str'>

In [27]:
print(type(42)

<class 'str'>

In [28]:
print(type(3.14))

<class 'float'>

# type casting - functions
## str()
## int()
## float()
changes the type of an object

### str()

In [108]:
print(str(42))
print(str(3.14))

42
3.14

In [61]:
stringCasted = str(42)

print(type(stringCasted))

<class 'str'>

#### use cases

In [56]:
stringCastedFromFloat = str(3.14)

print(stringCastedFromFloat)

'3.14'

In [17]:
alphaNumeric = 'R' + '2' + 'D' + str(2)

print(alphaNumeric)

R2D2

In [60]:
stringCastedFromFloat = str(3.14)

print('22' + str(42) + '1351425' + stringCastedFromFloat)

224213514253.14

In [79]:
input1 = input('Enter a number: ')

print(type(input1))

Enter a number: 2
<class 'str'>

### int()

In [114]:
print(int('42'))
print(int(3.14))

42
3

In [72]:
intCasted = int(2.718)

print(type(intCasted))

<class 'int'>

#### int() -  type conversion truncates floating point numbers

In [113]:
print(int(2.718))

2

#### int() type conversion `can not` take `floating point strings`

In [101]:
# int('3.14')

# ValueError: invalid literal for int() with base 10: '3.14'

#### use cases

In [64]:
intCastedFromFloat = int(2.718)

print(intCastedFromFloat)

2

In [78]:
alphaNumeric = 'R' + '2' + 'D'

print(alphaNumeric, end='')

print(int(2.718))

R2D2

In [21]:
input1 = input('Enter a number: ')
input2 = input('Enter another number: ')

print(input1,'+',input2,'=', int(input1) + int(input2))

Enter a number: 2
Enter another number: 3
2 + 3 = 5

### float()

In [120]:
print(float('42'))
print(float(36))

42.0
36.0

In [88]:
floatCasted = float('42')
print(type(floatCasted))

<class 'float'>

#### use cases

In [85]:
floatCastedFromString = float('3.14')

print(floatCastedFromString)

3.14

In [89]:
alphaNumeric = 'R' + '2' + 'D'

print(alphaNumeric, end='')

print(float(2))

R2D2.0

In [93]:
input1 = input('Enter a number: ')
input2 = input('Enter another number: ')

print(input1,'+',input2,'=', float(input1) + float(input2))

Enter a number: 3
Enter another number: 6
3 + 6 = 9.0

#### numerical type conversion `can not` take `'string words'` as arguments
- str()
- float()

In [24]:
# int('string of words')

# ValueError: invalid literal for int() with base 10: 's'

In [22]:
# float('string of words')

# ValueError: could not convert string to float: 'a'

### Str conversion of Boolean defaults to str of [True] or [False]

In [121]:
str(True)

'True'

In [125]:
str(False)

'False'

### `int` or `float` conversion of Boolean is [True - 1] [False - 0]

In [126]:
int(True)

1

In [127]:
float(False)

0.0

## max() - function
returns the largest in a sequence of values

In [131]:
max('Aa11zZ')

'z'

## min() - function
returns thesmallest in a sequence of values

In [132]:
min('Aa11zZ')

'1'

### max() or min()
- can work on `lists()`

In [135]:
listExample = ['A','a']

max(listExample)

'a'

In [137]:
listExample = [1,4,3.14,42]

max(listExample)

42

In [144]:
listExample = [True,False,13133]

max(listExample)

13133

### list() - must be
- only numbers & booleans
<br/>

or
<br/>
- only 'string's

In [149]:
listExample = [True,'1']
# max(listExample)
# TypeError: '>' not supported between instances of 'str' and 'int'


listExample = [42,'1']
# max(listExample)
# TypeError: '>' not supported between instances of 'str' and 'bool'

## len() - function
returns the length of a sequence

In [151]:
len('string of words')

15

In [156]:
listExample = [1,2,42]

len(listExample)

3

# `module object` functions
#### invoked by moduleObjectName

contains
- variables
- functions

## Dot notation
To access functions or variables
specify name of module [math] and use [ . ] before the name of function

### moduleName.variable
### moduleName.function()

<br/>

## math `module object`

In [128]:
# Must import math functions

import math

In [157]:
# Creates a module object - named [math]
# printing information about the object via the variable name as an argument

print(math)

<module 'math' (built-in)>

## moduleName.variable

In [160]:
#Math - pi variable approximated to 15 digits

math.pi

3.141592653589793

In [163]:
#Math - e variable approximated to 15 digits

math.e

2.718281828459045

## Math Functions

## moduleName.function()

In [167]:
#nameOfModule.function() - math.log() - log base e (ln - natural logarithm)

print(math.log(1))

print(math.log(math.e))

0.0
1.0

In [174]:
#nameOfModule.function() - math.log10() - logarithm base 10

print(math.log10(100))

2.0

### Trigonometric functions take `radians` as `arguments`

In [175]:
#Convert Degrees to radians
45 * (math.pi/180)

0.7853981633974483

In [176]:
#Convert Radians to degrees
0.7853981633974483 * (180/math.pi)

45.0

In [180]:
degrees = 45
radians = degrees * (math.pi/180)

math.sin(radians)

0.7071067811865476

In [181]:
#Check sin function output of 45 degrees[0.78 radians]

math.sqrt(2)/2        # radical-2 over 2

0.7071067811865476

## `random` numbers
- Computers `proceed` through a `set of well-defined states`

- Computers are `deterministic` - they generate the same outputs every time

- `Same calculation` yields the `same result`

<br/>

`random number functions`
- can yield `pseudorandom numbers`

<br/>

`pseudorandom numbers`
- not truly random
- generated by [deterministic computation]
- all but impossible to distinguish them from random

## random `module object`

In [182]:
#must import random module
import random

In [183]:
# Creates a module object - named [random]
# printing information about the object via the variable name as an argument

print(random)

<module 'random' from 'C:\\Users\\Alex\\Anaconda3\\lib\\random.py'>

## random Functions

## random.random()
random `module`

random `function`

- generates random floats between 0.0 - 1.0
- not including 1.0 - [0,1)

In [215]:
random.random()

0.4567649214914309

### use cases

In [223]:
#For loop to print out random numbers
##Fix base 10 place formatting **

for i in range(10):
    x = random.random()
    print(i+1,':',x)

1 : 0.9962112587257496
2 : 0.3847278278253884
3 : 0.8818777500537387
4 : 0.5949155461776405
5 : 0.49431952718142647
6 : 0.62137500140809
7 : 0.8271155854651799
8 : 0.3065836493612808
9 : 0.09083138412969916
10 : 0.4721268188415161

In [226]:
## [randint(low,high)] - takes parameters between low and high, includes both
## [low,high)]

random.randint(-45,45)

0

In [230]:
## [choice] -choose and element from a seqauence at random

listOfNumbers = [1,3,5,7]

random.choice(listOfNumbers)

5

In [8]:
####
#built-in function names should not be used as variable names

#**Don't work with similar functions
#max = '11'
#max(max)

# TypeError: 'str' object is not callable

# max(inputArgument) - will work if - variable with name [max] is not created

In [9]:
####
#user-defined function names should not be used as variable names

def bigNumber(input):
    return input*2

print(bigNumber)         #Returns value of function rather than [bigNumber] variable defined in first line
print(bigNumber(4))


bigNumberDifferent = 4   #Will return number stored in variable because variable name is unique
print(bigNumber(bigNumberDifferent))


bigNumber = 4            #Will not print because variable name has been used as function name
#print(bigNumber(bigNumber))

# TypeError: 'int' object is not callable

<function bigNumber at 0x00000225B2E88D90>
8
8

### `module object` functions
#### moduleObject.method()
Dot notationd

In [22]:
####

# [ ] create and test multiply() function

def getInt():
    return input('Enter an integer: ')

def multiply(input1,input2):
    return str(int(input1)*int(input2))

print(multiply(getInt(),getInt()))

Enter an integer: 2
Enter an integer: 3
6

In [ ]:
####

### or

#def multiply(input1=input('Enter an integer: '),input2=input('Enter an integer: ')):
#    return str(int(input1)*int(input2))

### or 

def multiply(input1,input2):
    return str(int(input1)*int(input2))

print(multiply(input('Enter an integer: '),input('Enter an integer: ')))

In [ ]:
####
# [ ] create improved multiply() function and test with /, no argument, and an invalid operator ($)

def getParam():
    return input('Enter an integer: ')

def getOperator():
    return input('[*,/]: ')

def multiplyDivide(input1,input2,input3):
        
    if input3 == '*':
        return str(int(input1)*int(input2))
    
    elif input3 == '/':
        return str(int(input1)/int(input2))
    
    else:
        print('Invalid Operator')

print(multiplyDivide(getParam(),getParam(),getOperator()))