# `Python`: Start Here
## String manipulation
 
 <img src="pythonLogo.png" height="20%" width="20%"/>

# String formatting

## ' " " ' <br/>
## " ' "

### mixing ' " " ' or " ' "

In [4]:
" Alex's shoes"

" Alex's shoes"

In [ ]:
'Alex is a "cool" guy'

## Escape sequences

### \ '

### \ "

### \ \

### \ t

### \ n

- allow symbols to be used that are otherwise considered part of syntax
- allows to print() formatting tabs and newline

#### \ '
#### \ "

In [2]:
#Escape sequences to use multiple ' ' or " " in strings
# \'
# \"

'Alex\'s shoes are \"cool\"'

'Alex\'s shoes are "cool"'

#### \ \

In [2]:
#Escape sequences to use \ in strings
# \

'C:\\user\\desktop\\textFile.txt'

'C:\\user\\desktop\\textFile.txt'

#### \ t

In [2]:
#Escape sequences to create tab print() formatting
# \t

'Alex\'s shoes are \"cool\"'

'Alex\'s shoes are "cool"'

#### \ n

In [4]:
#Escape sequences to create newline print() formatting
# \n

print('Alex\'s \nshoes \nare \n\"cool\"')

Alex's
shoes
are
"cool"

In [7]:
print('Alex\'s \n shoes \n\t  are \n\t\"cool\"')

Alex's
 shoes
	  are
	"cool"

In [5]:
'Alex\'s \nshoes \nare \n\"cool\"'

'Alex\'s \nshoes \nare \n"cool"'

In [8]:
############
print('Alex likes  ' + '\t'  +  'cheese') # (two spaces after 'Alex likes  ') get ignored until after \t [tab]
print('Alex likes' + '  \t'  +  'cheese') # (two spaces before tab) get ignored until after \t [tab]
print('Alex likes' + '\t' + 'cheese')
print('Alex likes' + '  \t  '  +  'cheese') # (two spaces after tab)
print('Alex likes' + '  \t  '  +  '  cheese') # (two spaces before 'cheese')

Alex likes  	cheese
Alex likes  	cheese
Alex likes	cheese
Alex likes  	  cheese
Alex likes  	    cheese

## Formatting 'String'.methods()
- return formatted 'string' value

#### .capitalize()
#### .lower()
#### .upper()
#### .swapcase()
#### .title()

### .capitalize()
- Capitalizes first character in 'String'
- all other characters become lowercase

In [8]:
stringExample = 'lord commander'

stringExample.capitalize()

'Lord commander'

### .lower()
- All characters in 'string' returned as lowercase

In [11]:
stringExample = 'LORD Commander'

stringExample.lower()

'lord commander'

### .upper()
- All characters in 'string' returned as uppercase

In [13]:
stringExample = 'LORD Commander'

stringExample.upper()

'LORD COMMANDER'

### .swapcase()
- Characters in 'string' switch cases
- uppercase become lowercase
- lowercase become uppercase

In [14]:
stringExample = 'LORD Commander'

stringExample.swapcase()

'lord cOMMANDER'

### .title()
- Capitalizes first character for each word in 'String'
- diliminated by ' ' space
- all other characters become lowercase

In [15]:
stringExample = 'lordCOMMANDER the first'

stringExample.capitalize()

'Lordcommander the first'

## 'string'.method() - can be used on any 'string' value

In [23]:
'SWAP'+'case'.swapcase()         # order of evaluation - 'case'.swapcase() is evalutated first

'SWAPCASE'

In [22]:
('SWAP'+'case').swapcase()       # order of evaluation - (parenthesis) force string concatenation to be evaluated first

'swapCASE'

In [19]:
print(input('Enter a string to swap case: ').swapcase())

Enter a string to swap case: SWapCASE
swAPcase

In [3]:
inputStringSwap = input('Enter a string to swap case: ').swapcase()  # 'string'.method() formats value before bound to variable

print(inputStringSwap

Enter a string to swap case: Super Moto
sUPER mOTO

In [2]:
inputStringSwap = input('Enter a string to swap case: ')

print(inputStringSwap.swapcase())                                    # 'string'.method() formats variable

Enter a string to swap case: SuperMoto
sUPERmOTO

### .strip()
- removes whitespace ' ' \n \t
- at the beggining and end of 'string'

In [18]:
stringExample = '  lordCOMMANDER \tthe first  \n'               # \t - escape sequence is not removed
                                                                # not at the beggining or the end of 'string'
stringExample.strip()

'lordCOMMANDER \tthe first'